<!DOCTYPE html>
<html lang="en">

<head>
    <script type="text/javascript">
        (function (c, l, a, r, i, t, y) {
            c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) };
            t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i;
            y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
        })(window, document, "clarity", "script", "57s2lnu4su");
    </script>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#234375" />
    <script data-ad-client="ca-pub-8083797847279880" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <meta name="description" content="The ultimate draft chooser for Pokemon GO" />
    <link rel="stylesheet" href="./articles.css">
    <title>Pokemon Go Drafter</title>
</head>

<body>
    <div id="root">
        <div class="main">
            <div class="container for-article">
                <div onclick="window.location.href='../articles'" class="homeWrapper">
                    <div class="home">
                        <i class="material-icons menu-icon">arrow_back</i>
                        <a href="../articles">Back</a>
                    </div>
                </div>
                <div class="article-title">
                    <h1>
                        <%= title %>
                    </h1>
                    <p class="author"><%= author %></p>
                </div>
                <hr>
                <div style="max-width: 100%;">
                    <%- article %> 
                </div>
            </div>
        </div>
    </div>
</body>

</html>